<form #form="ngForm" (ngSubmit)="process()">

  <div class="form-group">
    <label for="typePresta">Type Prestation</label>
    <input name="type" #nom="ngModel" [(ngModel)]="newItem.typePresta" type="text" class="form-control" id="typePresta" required minlength="4">
    <div class="alert alert-danger" *ngIf="nom.invalid && nom.touched">champ invalid</div>
  </div>

  <div class="form-group">
    <label for="client">Client</label>
    <input name="client" [(ngModel)]="newItem.client" type="text" class="form-control" id="client">
  </div>

  <div class="form-group">
    <label for="nbj">Nb Jours</label>
    <input name="nbj" [(ngModel)]="newItem.nb_jours" type="text" class="form-control" id="nbj">
  </div>

  <div class="form-group">
    <label for="tjm">Tjm HT</label>
    <input name="tjm" [(ngModel)]="newItem.tjm_ht" type="text" class="form-control" id="tjm">
  </div>

  <div class="form-group">
    <label for="tva">Taux Tva</label>
    <input name="tva" [(ngModel)]="newItem.taux_tva" type="text" class="form-control" id="tva">
  </div>

  <div class="form-group">
    <label for="state">State</label>
    <select name="state" [(ngModel)]="newItem.state" class="form-control" id="state">
      <option [value]="state" *ngFor="let state of states">{{ state }}</option>
    </select>
  </div>

  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>
